@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/images/bg-pattern-desktop.svg') no-repeat center center / cover;

    .box-left {
        padding: 190px;

        .desktop-logo {
            position: absolute;
            top: 60px;
        }

        h1 {
            font-size: 80px;
            letter-spacing: 11px;
        }

        span {
            color: hsl(0, 36%, 70%);
            font-weight: 300;
        }

        p {
            font-size: 16px;
            color: hsl(0, 36%, 70%);
            line-height: 1.7;
            margin-top: 20px;
        }

        input {
            border-radius: 50px;
            padding: 10px;
            width: 100%;
            font-family: inherit;
            border-color: hsl(0, 93%, 68%);
            font-size: 15px;
            margin-top: 30px;
            border-width: .5px;
        }

        button {
            background-color: hsl(0, 36%, 70%);
            border-radius: 30px;
            padding: 10px 30px 10px;
            border: none;
            position: relative;     
            top: 1px; 
        }
    }
}

// responsive
@media only screen and (max-width: 375px) {
    .container {
        flex-direction: column-reverse;

        .desktop-logo {
            display: none;
        }

        .box-right {
            background: url('/images/hero-desktop.jpg') center center / cover;
            top: 30px;
            width: 375px;
            height: 200px;

            img {
                display: none;
            }
        }
    }
}