@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/images/bg-pattern-desktop.svg') no-repeat center center / cover;

    .box-left {
        padding: 190px;

        .desktop-logo {
            position: absolute;
            top: 60px;
        }

        h1 {
            font-size: 80px;
            letter-spacing: 11px;
        }

        span {
            color: hsl(0, 36%, 70%);
            font-weight: 300;
        }

        p {
            font-size: 16px;
            color: hsl(0, 36%, 70%);
            line-height: 1.7;
            margin-top: 20px;
        }

        .custom-search {
            position: relative;
            width: 450px;
        }

        input {
            font-family: inherit;
            border-color: hsl(0, 93%, 68%);
            font-size: 15px;
            margin-top: 30px;
            border-width: .5px;
            width: 100%;
            border-radius: 50px;
            padding: 15px 100px 15px 30px; 
            line-height: 1;
            box-sizing: border-box;
            outline: none;
        }

        input::placeholder {
            color:hsl(0, 36%, 70%);
            opacity: 0.3;
        }

        button {
            position: absolute;
            left: 370px; 
            top: 30px;
            border: 0;
            background: rgb(238,174,202);
            background: linear-gradient(90deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%) 100%);
            color: #fff;
            outline: none;
            margin: 0;
            padding: 15px 40px;
            border-radius: 100px;
            z-index: 2;
            box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.07);
        }
    }

    .box-right {
        .desktop-img {
            background: url('/images/hero-desktop.jpg') no-repeat center center /cover;
            width:50vw;
            height: 100vh;
        }
    }
}

// responsive
@media only screen and (max-width: 700px) {
    .container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        .box-left {
            .desktop-logo {
                position: absolute;
                left:50px;
            }

            h1, p {
                // font-size: 0px;
                text-align: center;
            }

            h1 {
                font-size: 60px;
            }
            .custom-search {
                width: 100%;
            }

            button {
                position: absolute;
                left: 270px;
                padding: 15px 28px;
            }
        }

        .box-right {

            .mobile-img {
                background: url('/images/hero-mobile.jpg') no-repeat center center / cover;
                width: 100vw;
                height: 40vh;
                position: relative;
                top: 150px;
            }

            .desktop-img {
                display: none;
            }
        }
    }
}